export(popscompR)
export(plotSASAatom)
export(plotSASAresidue)
export(plotSASAchain)
export(runPOPSR)

importFrom(bio3d, pdbsplit)
importFrom(bio3d, get.pdb)
importFrom(grDevices, dev.off, png)
importFrom(graphics, plot)
importFrom(utils, combn, read.table, write.table, zip)
